body {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #eeecec 
}
header a {
    text-decoration: none;
    display: inline;
    color: #92969e ;
} 
.header__nav {
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr;
    height: 100px;
} 
.header__nav--logo {
    margin-left: 24px;
}
.header__nav--logo img {
    width: 160px;
    margin-top: -14px;
}
.header__nav--buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header__nav--buttons a {
    margin-right: 8px;
    margin-left: 24px;
    margin-bottom: 50px;
    font-size: 16px;
}
.header__nav--icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header__bar {
    width: 187px;
    margin-top: -68px;
    margin-left: -50px;
    display: flex;
    align-items: flex-end;
    position: absolute;
}
.header__heart {
    margin-right: 8px;
    margin-left: 24px;
    margin-bottom: 50px;
    position: relative;
}
.header__shopping-cart {
    margin-right: 30px;
    margin-left: 26px;
    margin-bottom: 50px;
    position: relative;
}
.main {
    width: 100%;
    background-color: #eeecec 
} 
.main__background {
    width: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.main__sneakers {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 15rem;
    transform: translateY(-50%);
}
.main__text {
    width: 300px;
    position: absolute;
    top: 30%;
    left: 20rem;
    transform: translateY(-50%);
}
.main__price {
    width: 150px;
    position: absolute;
    top: 55%;
    left: 50rem;
    transform: translateY(-50%);
}
.main__shopping-cart {
    width: 25px;
    position: absolute;
    top: 55%;
    left: 57rem;
    transform: translateY(-50%);
}
.main p {
    color:#ffffff;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 49%;
    left: 51rem;
    transform: translateY(-50%);
}
.main-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #eeecec 
}

.manin-menu__bar {
    width: 430px;
    margin-top: -30px;
    margin-left: -35px;
    display: flex;
    align-items: flex-end;
    position: absolute;
}
.main-menu__menu a {
    margin-right: 6px;
    margin-left: 13px;
    font-size: 13px;
    position: relative;
    text-decoration: none;
    display: inline;
    color: #92969e ;
    transform: translateY(-50%); 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main-menu__menu--burger {
    margin-right: 16px;
    margin-left: 16px;
    position: relative;
}
.carousel {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}
.carousel__popular {
    height: 550px;
    margin-top:100px;
    margin-left: 70px;
}
.carousel__container {
  overflow: scroll;
  padding-left: 30px;
  width: 100%;
  height: 100%;
  position: relative;
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70px 0px;
  padding-bottom: 10px;
}
.carousel-item {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 300px;
    height: 600px;
    margin-right: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: 450ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    align-items: center;
  }
  .carousel-item:hover ~ .carousel-item {
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }
  
  .carousel-item__img {
    width: 100%;
  /*   height: 450px; */
    -o-object-fit: cover;
    object-fit: cover;
  }
  
.carousel-item__details {
    align-items: flex-start;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    bottom: 0;
    display: flex;
    font-size: 10px;
    flex-direction: column;
    justify-content: flex-end;
    left: 0;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .carousel-item__details--img {
    width: 30px;
    margin-bottom: -50px;
    margin-left: 230px;
    align-content: initial;
    position: relative;
  }
  
  .carousel-item:hover .carousel-item__details {
    opacity: 1;
  }
  
  .carousel-item__details--title {
    color: #051026;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    margin: 5px 0px 0px 0px;
  }
  
  .carousel-item__details--subtitle {
    color: #051026;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 500px;
    margin-top: -5px;
  }
  .carousel-item__details--text {
    color: #eeecec;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 3px 0px;
  }
  .footer img {
    width: 100%;
    height: 100%;
    margin-top: 100px
  }